* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
.container {
    margin-top: 7%;
    margin-bottom: 5%;
}
.dropdown-divider {
    color: #ddd;
}
#p-icon {
    height: 50px;
    width: 50px;
}
.footer {
    background-color: rgb(82, 78, 78);
    padding: 5px;

}
.footer footer {
    text-align: center;
    color: white;
}